AspCitylink/.vs/AspCitylink/v15/.suo
AspCitylink/.vs/AspCitylink/v15/Server/sqlite3/storage.ide
AspCitylink/.vs/AspCitylink/v15/Server/sqlite3/storage.ide-shm
AspCitylink/.vs/AspCitylink/v15/Server/sqlite3/storage.ide-wal
AspCitylink/.vs/config/applicationhost.config
AspCitylink/AspCitylink/AspCitylink.csproj.user
AspCitylink/AspCitylink/bin/AspCitylink.dll
AspCitylink/AspCitylink/bin/AspCitylink.pdb
AspCitylink/AspCitylink/obj/Debug/AspCitylink.csproj.CoreCompileInputs.cache
AspCitylink/AspCitylink/obj/Debug/AspCitylink.csproj.FileListAbsolute.txt
AspCitylink/AspCitylink/obj/Debug/AspCitylink.csprojAssemblyReference.cache
AspCitylink/AspCitylink/obj/Debug/AspCitylink.dll
AspCitylink/AspCitylink/obj/Debug/AspCitylink.pdb
AspCitylink/AspCitylink/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/System.Reflection.Metadata.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/vbc.exe
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/vbc.exe.config
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/vbc.rsp
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/VBCSCompiler.exe
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/VBCSCompiler.exe.config
ProjectTemplateWithAjax/ProjectTemplateWithAjax/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
ProjectTemplateWithAjax/ProjectTemplateWithAjax/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectTemplateWithAjax/ProjectTemplateWithAjax/obj/Debug/ProjectTemplateWithAjax.csproj.CopyComplete
ProjectTemplateWithAjax/ProjectTemplateWithAjax/obj/Debug/ProjectTemplateWithAjax.csproj.CoreCompileInputs.cache
ProjectTemplateWithAjax/ProjectTemplateWithAjax/obj/Debug/ProjectTemplateWithAjax.csproj.FileListAbsolute.txt
ProjectTemplateWithAjax/ProjectTemplateWithAjax/obj/Debug/ProjectTemplateWithAjax.csprojAssemblyReference.cache
ProjectTemplateWithAjax/ProjectTemplateWithAjax/obj/Debug/ProjectTemplateWithAjax.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/obj/Debug/ProjectTemplateWithAjax.pdb
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/Microsoft.CodeAnalysis.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/Microsoft.CSharp.Core.targets
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/Microsoft.VisualBasic.Core.targets
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/System.AppContext.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/System.Collections.Immutable.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/System.Diagnostics.StackTrace.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/System.IO.FileSystem.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/System.IO.FileSystem.Primitives.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.Razor.xml
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.WebPages.Deployment.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.WebPages.Deployment.xml
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.WebPages.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.WebPages.Razor.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.WebPages.Razor.xml
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.WebPages.xml
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/WebGrease.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/csc.exe
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/csc.exe.config
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/csc.rsp
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/csi.exe
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/csi.rsp
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/Microsoft.Web.Infrastructure.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/Newtonsoft.Json.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/Newtonsoft.Json.xml
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/ProjectTemplateWithAjax.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/ProjectTemplateWithAjax.dll.config
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/ProjectTemplateWithAjax.pdb
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.Helpers.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.Helpers.xml
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.Mvc.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.Mvc.xml
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.Optimization.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.Optimization.xml
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/System.Web.Razor.dll
AspCitylink/WinFormsCitylinkGrabber/.vs/WinFormsCitylinkGrabber/v15/.suo
AspCitylink/WinFormsCitylinkGrabber/.vs/WinFormsCitylinkGrabber/v15/Server/sqlite3/db.lock
AspCitylink/WinFormsCitylinkGrabber/.vs/WinFormsCitylinkGrabber/v15/Server/sqlite3/storage.ide
AspCitylink/WinFormsCitylinkGrabber/.vs/WinFormsCitylinkGrabber/v15/Server/sqlite3/storage.ide-shm
AspCitylink/WinFormsCitylinkGrabber/.vs/WinFormsCitylinkGrabber/v15/Server/sqlite3/storage.ide-wal
ProjectTemplateWithAjax/.vs/ProjectTemplateWithAjax/config/debuggerConfiguration-3bfe456f-5a40-46e5-aede-db3e3e66f729.json
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/Antlr3.Runtime.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/Antlr3.Runtime.pdb
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
ProjectTemplateWithAjax/ProjectTemplateWithAjax/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
