<!DOCTYPE html>
<!-- Подключаем главный модуль к странице -->
<html ng-app="mainApp" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project DEMO Angular</title>
    <script src="../angular/angular.min.js"></script>
    <script>
        // создаем главный модуль
        let mainApp = angular.module("mainApp", []);

        // модель данных(MVC)
        let model = [
            { name: "Петя", age: 19 },
            { name: "Вася", age: 20 },
            { name: "Коля", age: 21 },
            { name: "Толя", age: 22 },
            { name: "Федя", age: 18 }
        ];

        // создаем контроллер/ы в гданом модуле
        mainApp.controller("mainController", function($scope) {
            //$scope - встроенная стандартная переменная для 
            //взаимодействия м/д контроллером и представлением
            $scope.message = "DOM манипуляции: ng-hide"
            $scope.time = new Date()
            $scope.students = model
            $scope.selectedStud = $scope.students[0]
            $scope.partialView = "table.html"
            
            $scope.hideBlock1 = false
            $scope.hideBlock3 = false
            $scope.hideBlock3 = false
        });
    </script>
    <style>
        div {
            display: inline-block;
            border: 1px solid black;
            padding: 20px;
        }
        #d1 {
            background-color: red;
        }
        #d2 {
            background-color: yellow;
        }
        #d3 {
            background-color: green;
        }
    </style>
</head>

<!-- контроллер можно подключить к любой части страницы -->

<body ng-controller="mainController">
    <h1>Demo AngularJS</h1>
    <h4> {{message}} {{time}} </h4>

    <div>
        <input type="checkbox" ng-model="hideBlock1"></input>
        <label>1</label>
        <input type="checkbox" ng-model="hideBlock2"></input>
        <label>2</label>
        <input type="checkbox" ng-model="hideBlock3"></input>
        <label>3</label>
    </div>

    <div id="d1" ng-if="hideBlock1">
        <p>Раз</p>
    </div>

    <div id="d2" ng-if="hideBlock2">
        <p>Два</p>
    </div>

    <div id="d3" ng-if="hideBlock3">
        <p>Три</p>
    </div>
</body>

</html>