<!DOCTYPE html>
<!-- Подключаем главный модуль к странице -->
<html ng-app="mainApp" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project DEMO Angular</title>
    <script src="../angular/angular.min.js"></script>
    <script>
        // создаем главный модуль
        let mainApp = angular.module("mainApp", []);

        // модель данных(MVC)
        let model = [
            { name: "Красный", value: "redClass" },
            { name: "Зелёный", value: "greenClass" },
            { name: "Жёлтый", age: "yellowClass" }
        ];

        // создаем контроллер/ы в гданом модуле
        mainApp.controller("mainController", function($scope) {
            //$scope - встроенная стандартная переменная для 
            //взаимодействия м/д контроллером и представлением
            $scope.message = "DOM манипуляции: ng-hide"
            $scope.time = new Date()
            $scope.colors = model
            $scope.activeColor = $scope.colors[0]
        });
    </script>
    <style>
        div {
            display: inline-block;
            border: 1px solid black;
            padding: 20px;
        }
        .redClass {
            background-color: red;
        }
        .yellowClass {
            background-color: yellow;
        }
        .greenClass {
            background-color: green;
        }
    </style>
</head>

<!-- контроллер можно подключить к любой части страницы -->

<body ng-controller="mainController">
    <h1>Demo AngularJS</h1>
    <h4> {{message}} {{time}} </h4>

    <div ng-repeat="color in colors">
        <input type="radio" ng-model="$parent.activeClass" value="{{color.value}}"/>
        <label>{{color.name}}</label>
    </div>

    <div ng-class="activeClass">
        <p>Раз</p>
    </div>

    <div ng-class="activeClass">
        <p>Два</p>
    </div>

    <div ng-class="activeClass">
        <p>Три</p>
    </div>
</body>

</html>