<!DOCTYPE html>
<!-- Подключаем главный модуль к странице -->
<html ng-app="mainApp" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project DEMO Событие - Клик</title>
    <script src="../angular/angular.min.js"></script>
    <script>
        // создаем главный модуль
        const mainApp = angular.module("mainApp", []);

        // модель данных(MVC)
        const model = [
            { name: "Петя", age: 19 },
            { name: "Вася", age: 20 },
            { name: "Коля", age: 21 },
            { name: "Толя", age: 22 },
            { name: "Федя", age: 18 }
        ];

        // создаем контроллер/ы в гданом модуле
        mainApp.controller("mainController", function($scope) {
            //$scope - встроенная стандартная переменная для 
            //взаимодействия м/д контроллером и представлением
            $scope.message = "Цикл в Angularjs"
            $scope.students = model

            $scope.studName = "Аноним"
            $scope.studAge = 28

            $scope.btnAddClick = function() {
                $scope.students.push({ name: $scope.studName, age: $scope.studAge })
            }
            $scope.btnRemoveClick = function(stud) {
                console.log(stud)

                // $scope.students.splice(this.$index, 1)
                $scope.students.remove(stud)
            }
        });
    </script>
</head>

<!-- контроллер можно подключить к любой части страницы -->

<body ng-controller="mainController">
    <h1>Demo AngularJS</h1>
    <h4> {{message}}</h4>

    <H5>Список студентов ({{students.length}})</H5>

    <table border="1">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Возраст</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="stud in students" >
                <td> {{stud.name}} </td>
                <td> {{stud.age}} </td>
                <td>
                    <input ng-click="btnRemoveClick(stud)" type="button" value="x"/>
                </td>
            </tr>
        </tbody>
    </table>

    <input ng-model="studName" type="text" placeholder="Имя студента"/>
    <input ng-model="studAge" type="number" placeholder="Возраст студента"/>

    <input ng-click="btnAddClick()" type="button" value="Добавить"/>
</body>

</html>