@using ProjectTemplateWithAjax.Models
@model string

@{
    ViewBag.Title = "ShowStudents_V3";
    var ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "tbody"
    };
}

<h2>@ViewBag.Title</h2>


<input type="text" />

<table class="highlight">
    <tr>
        <th>
            Имя
        </th>
        <th>
            Фамилия
        </th>
        <th>
            Группа
        </th>
    </tr>

    <tbody id="tbody">
        @Html.Action("PartialViewTableStudents", new { selectedGroup=Model})
    </tbody>

</table>

<br />

@using (Ajax.BeginForm("PartialViewTableStudents", ajaxOptions))
{

    <div class="row">
        <div class="col s12 m6">
            <div class="input-field col s12">
                @Html.DropDownList(
                    "selectedGroup",
                    new SelectList(
                        Enum.GetNames(typeof(AcademicGroup))
                        ))
            </div>
        </div>

        <div class="col s12 m6">
            <input class="btn waves-effect waves-light"
                   type="submit" 
                   value="обновить"/>
        </div>
    </div>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
}


